# Ignore IntelliJ / IDEA project files
.idea/
Mealplans.iml

# Hide monthly meal plan directories (contain sensitive markdown/html)
01_january/
02_february/
03_march/
04_april/
05_may/
06_june/
07_july/
08_august/
09_september/
10_october/
11_november/
12_december/

# Catch-all for exported meal plans
*.md
*.html
